<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.assentify.sdk">

    <uses-sdk />

    <uses-feature
        android:glEsVersion="0x00030001"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />


    <application
        android:debuggable="false"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:installLocation="internalOnly"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        tools:ignore="HardcodedDebugMode">


    </application>

</manifest>